<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>UOL</title>
  <link rel="SHORTCUT ICON" href="//host.imguol.com/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <link href="//jsuol.com.br/g/uolfw/1.7.3/css/UOLfw.min.css" rel="stylesheet">
  <link href="//jsuol.com.br/g/uolfw/fonts/uol-text.css?type=light,lighter,bold," rel="stylesheet">
  <link href="../assets/css/cssEmail.css" rel="stylesheet" type="text/css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>
	<script src="https://jsuol.com.br/g/jquery/2.1.3/jquery-2.1.3.min.js"></script>
	<script src="https://jsuol.com.br/g/uolfw/1.7.3/js/UOLfw.min.js"></script>
    <script type="text/javascript" src="../vendor/jqueryEmail.min.js"></script>
    
    <div class="body">
        <div class="top">
            <a href="https://www.uol.com.br"><img src="../imagens/topo.fw.png" class="imgTop" /></a>
        </div>
        <div class="bodyTop">
            <img src="../imagens/championsEmail.fw.png" class="championsImg" />
            <hr class="hrRed" />
            <img src="../imagens/interativoEmail.fw.png" class="interativoImg" />
        </div> </br>
        <div class="text">
           <span class="text-item">ASSSITA AO VIVO</span><span class="text-item"> A TODOS OS JOGOS</span> </br>
            <span class="text-item">DA CHAMPIONS LEAGUE.</span> </br>
            <span class="text-item">Com o UOL Esporte Clube, você assiste ao vivo a todos os</span> </br>
            <span class="text-item">jogos da Champions League no Esporte Interativo Plus.</span> </br>
            <button class="btn btn-warning">EXPERIMENTE POR 1 MÊS</button> </br>
            <p class="smalL">
                Após período gratuíto: R$ 24,90/mês
            </p>
            <img src="../imagens/celEmail.png" class="ceuImg" />
        </div>
        <img src="../imagens/neymarEmail.png" class="" />
        <img src="../imagens/baixoNeymar.png" class="" />
        <div class="baixoNeymarText">
            <span class="baixoNeymarText-item">
                Conteúdo disponível </br>
                a qualquer hora e </br>
                onde estiver </br>
            </span>
            <span class="baixoNeymarText-item">
                Acesso simultâneo </br>
                em até três </br>
                dispositivos </br>
            </span>
            <span class="baixoNeymarText-item">
                Assista no seu</br>
                celular, tablet e </br>
                computador </br>
            </span>
        </div>
        <div class="footer">
            <img src="../imagens/logoUol.png" class="footer-item" />
            <span class="footer-item">E-mail enviado de acordo com o <a>Guia de boas Práticas</a> da ABEMD </br> </span> 
            <span class="footer-item">Caso não queira mais receber nossos e-mails, <a>clique aqui.</a></span>
        </div>
    </div>
</body>
</html>