<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>UOL</title>
  <link rel="SHORTCUT ICON" href="//host.imguol.com/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <link href="//jsuol.com.br/g/uolfw/1.7.3/css/UOLfw.min.css" rel="stylesheet">
  <link href="//jsuol.com.br/g/uolfw/fonts/uol-text.css?type=light,lighter,bold," rel="stylesheet">
  <link href="../assets/css/cssPage.css" rel="stylesheet" type="text/css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>
	<script src="https://jsuol.com.br/g/jquery/2.1.3/jquery-2.1.3.min.js"></script>
	<script src="https://jsuol.com.br/g/uolfw/1.7.3/js/UOLfw.min.js"></script>
    <script type="text/javascript" src="../vendor/jqueryPage.min.js"></script>	
    
    <div class="top">
        <a href="https://www.uol.com.br"><img src="../imagens/topo.fw.png" class="imgTop" /></a>
    </div>
    <div  class="divBanner">
        <img src="../imagens/banner.png" class="banner" id="banner" />
        <img src="../imagens/apoio3.png" class="bannerMobile" id="bannerMobile" />
        <div class="text">
            <p class="text-item">
                <b>ASSISTA AO VIVO</b> </br>
            </p>
            <p class="text-item">
                AOS JOGOS DA NFL </br>
            </p>
            <p class="text-item">
                Com o <b>UOL Esporte Clube</b>, você assiste aos princípais </br>
                jogo do Monday Night Football da NFL no<b> ESPN Play </b>
            </p> </br>
            <button class="btn btn-warning">EXPERIMENTE POR 1 MÊS</button> </br>
            <p class="smalL">
                Após período, R$ 24,90/mês
            </p>
        </div>
    </div>
    <div class="box">
        <div class="mobile">
            <img id="imgBase" src="../imagens/play.png" class="widgetImg" />
            <hr class="hrRed" />
            <p class="widgetText">Conteúdo dusponível </br>
                a qualquer hora </br>
                e onde estiver </p>
        </div>
        <div class="mobile">
            <img src="../imagens/bola.fw.png" class="widgetImg" />
            <hr class="hrRed" />
            <p class="widgetText">Acesso simultâneo </br>
                em até três dispositivos </p>
        </div>
        <div class="mobile">
            <img src="../imagens/pc.fw.png" class="widgetImg" />   
            <hr class="hrRed" />
            <p class="widgetText">Assista no seu celular, </br>
                tablet e computador </p>
        </div>
    </div>
    <div class="imgPonta">
        <img src="../imagens/barra.png" style="width: 100%;" id="ponta"/>
    </div>
    <div id="frase">
        <p class="frase"> No UOL Esporte Clube você tem: </p>
        <hr class="hrYellow" /> </br>
    </div>
    <div class="painel">
        <div class="panel1">
            <img src="../imagens/spnPLay.png" width="194px" height="40px" class="" />
        </div>
        <div class="panel2">
            <img src="../imagens/nfl.fw.png" width="45px" height="64px" class="" />
            <img src="../imagens/nba.png" width="92px" height="40px" class="" />
            <img src="../imagens/usopen.png" width="78px" height="49px" class="" />
            <img src="../imagens/laliga.png" width="57px" height="80px" class="" />
            <img src="../imagens/premierlegue.png" width="47px" height="80px" class="" />
        </div>
        <div class="panel3"> 
            <span id="app1">Conteúdo disponível no app >> </span>
            <a href="https://esporteclube.uol.com.br/espnplay#rmcl?gclid=Cj0KCQiAzePjBRCRARIsAGkrSm77G_U99QQNk1IQu97GV5J2VMrX3piahUC9NJ-cuv1qmlxDdXBAgpMaArJREALw_wcB&psid=1"><img src="../imagens/watchEspn.png" width="57px" height="56px" class="" /></a>
        </div>
    </div>
    <div class="painel" id="painel">
        <div class="panel1">
            <img src="../imagens/interativo.fw.png" width="134px" height="40px" class="" />
        </div>
        <div class="panel2">
            <img style="margin-right: 55px;" src="../imagens/champions.png" width="74px" height="69px" class="" />
            <img src="../imagens/brasileirao.png" width="72px" height="73px" class="" />
        </div>
        <div class="panel3"> 
            <span id="app2">Conteúdo disponível no app >> </span>
            <a href="https://esporteclube.uol.com.br/espnplay#rmcl?gclid=Cj0KCQiAzePjBRCRARIsAGkrSm77G_U99QQNk1IQu97GV5J2VMrX3piahUC9NJ-cuv1qmlxDdXBAgpMaArJREALw_wcB&psid=1"><img src="../imagens/interativoPlus.png" width="57px" height="56px" class="" /></a> 
        </div>
    </div>
    <div class="footer">
            <img src="../imagens/footerUol.png" width="103" height="42px" class="" /> </br></br>
            <p> © 1996 - 2019 UOL - O melhor conteúdo. Todos os direitos reservados </p> </br>
            <hr class="hrFooter" /> </br>
            <p>
                UNIVERSO ONLINE S/A </br>
                CNPJ/MF 01.109.184/0001-95 </br>
                Av.Brigadeiro Faria Lima, 1.384, São Paulo/SP </br>
                CEP 01452-02 </br></br>
                <a href="https://www.uol.com.br/sac"> >> uol.com.br/sac</a>
            </p>
    </div>
</body>
</html>
